resources:
  containers:
  - container: pg11
    image: postgres:11
    environment:
        POSTGRES_PASSWORD: Password12!
        POSTGRES_USER: postgres

pool:
  #vmImage: 'ubuntu-16.04'
  vmImage: 'win1803'

steps:
  - checkout: none

  - powershell: |
      $progressPreference = 'silentlyContinue'
      mkdir "$Env:ProgramFiles\Linux Containersâ€

      Invoke-WebRequest -UseBasicParsing -OutFile linuxkit.zip https://github.com/friism/linuxkit/releases/download/preview-1/linuxkit.zip

      Expand-Archive linuxkit.zip -DestinationPath "$Env:ProgramFiles\Linux Containers\."
      rm linuxkit.zip

      Invoke-WebRequest -UseBasicParsing -OutFile dockerd.exe https://master.dockerproject.org/windows/x86_64/dockerd.exe

      $Env:LCOW_SUPPORTED=1
      $env:LCOW_API_PLATFORM_IF_OMITTED="linux"
      .\dockerd.exe -D --experimental -H "npipe:////./pipe//docker_lcow" --data-root c:\lcow

  - script: |
       docker run -H "npipe:////./pipe//docker_lcow" -d --name postgres10 --platform linux -e POSTGRES_PASSWORD=Password12! -p 5432:5432 -v /var/run/postgresql:/var/run/postgresql postgres:11

  - script: |
       until docker exec postgres10 psql -U postgres -c '\q'; do
          >&2 echo "Postgres is unavailable - sleeping"
          sleep 1
       done 
       docker exec postgres10 psql -U postgres -c "create database my_database"